<h2>Category</h2>
<div>
  <ul>
    <li><a routerLink="/product-list">Laptops</a></li>
    <p><img src="https://blogs.windows.com/uploads/2015/10/Surface-family-870x830.jpg" width=240px></p>
    <li><a routerLink="/product-list1">New Gen Laptops</a></li>
    <p><img src="https://magazun.com/images/detailed/441/4_9485fe4e-f7fe-11ea-a24e-7085c2a4485b.jpg" width=240px></p>
    <li><a routerLink="/product-list2">Phone</a></li>
    <p><img src="https://on.notist.cloud/slides/deck2434/large-60.jpg" width=240px></p>
  </ul>
</div>